---
title: Polishing
scope: "Polishing, micro abrasives, "
intro: "During my time at TRIUMF, I was tasked with the polishing of two large titanium electrodes. I came up with a device to help automate the process."
filters: item-painting
priority: 2
published: true
---
<section id="main">
<center>
    <iframe src="https://player.vimeo.com/video/191243327" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</center>
    <h2>Background</h2>



    <p>
    The process of polishing titanium for high voltage environments is an involved one. These two electrodes were to be separated by less than a meter in a high vacuum, with a potential difference of <strong>600kV</strong> between them. The electric field is higher near edges and corners of the electrodes, so these areas were prioritized. Needless to say, the surface finish necessarily had to be pristine.
    </p>
    <p>The polishing process had multiple stages, based on the state of the surface. They are as follows:</p>
    <section id ="smallcenteredimage">
        <space><p>  </p></space>
        <imager>
      <p><strong>Scratches visible to unaided eye</strong>: A good rule of thumb was that if any scratch could be seen in regular light, it was likely several microns thick and required sanding. Based on severity, could start the sanding with as course as 800 grit, moving in increments of ~200 up to 1500 grit.</p>

      <p><strong>Sanding damage/Reflective scratches</strong>: Sanding leaves the surface with a matte finish from multiple small scratches. I would use a series of diamond pastes, starting with 6 micron. Around every 10-15 minutes, I would move to a finer paste, from 6 to 3 to 1.</p>

      <p><strong>Minor scratches</strong>: A liquid mixture of <strong>85%</strong> Colloidal silica (1/16 micron) and <strong>15%</strong> H2O2 applied in 1-2 hour doses to the surface. Required constant wetting of the surface to prevent crystallization.</p>
        </imager>
        <space><p>  </p></space>
    </section>

    <p>
    I felt the two hour task of applying colloidal silica to be well within the realm of automation. I had a bunch of 3D printer parts laying around at the time, so used them to put together a simple linear motion system over the next weekend.
    </p>

</section>
