---
title: Ray
scope: "3D printing, CAD, Fabrication"
intro: "Perhaps the most exciting, and arguably the 'pièce de résistance' of the Engineering Physics program at UBC, is an event held during the summer of second year - the annual robot competition. Given an Arduino, electronic componentry, and raw materials like sheet aluminium, teams of four must construct an autonomous robot within around 6 to 8 weeks. The task this robot must complete is different with every year, and has been everything from climbing robots, racing robots, or rescuing robots.
      In 2016, the challenge was to build the best 'Uber-bot' - a robot that could perform the best as an autonomous taxi service.
"
filters: item-branding item-packaging
priority: 1
---
<section id="main">
<div class="row center-xs">

    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/11/ray/rayfront.jpg" }) %>

</div>
    <center>
    <h3>For more thorough documentation of our robot, visit <a href="http://ray.enph.ca">ray.enph.ca</a></h3>
    </center>

<section id="halfimage">
    <%= partial("partials/lazyimg", :locals => { :img => "/images/2016/11/ray/structuralframe.png" }) %>
</section>
<section id="halfimage">
<%= partial("partials/lazyimg", :locals => { :img => "/images/2016/11/ray/backnowall.jpg" }) %>
</section>


<%= partial("partials/lazyimg", :locals => { :img => "/images/2016/11/ray/assem.png" }) %>

<h2>Competition Day</h2>
<div class="row center-xs">
    <div class="col-xs-12 col-sm-9">
<iframe width="800" height="315" src="https://www.youtube.com/embed/UkY8S9cgKz8" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
</section>

