@import "neat-helpers"; // or "neat-helpers" when in Rails
//$visual-grid: true;
// Change the grid settings
$column: 90px;
$gutter: 20px;
$grid-columns: 12;
$max-width: 1200px;
// Define your breakpoints
$desktop:new-breakpoint(min-width 768px 12);
//$tablet: new-breakpoint(max-width 768px 6);
$mobile: new-breakpoint(max-width 480px 6);
