---
title: Contact
---
<% content_for :assets do %>
  <%= javascript_include_tag :contact, :async => true %>
<% end %>

<% content_for :js do %>

<% end %>
<div class="row">
  <div class="col-xs-12">
    <h1 class="u-font-mega u-font-center c-page-title border-bottom">Get in Touch.</h1>
  </div>
</div>


<div class = "contact">
    <first>
        <center>
            <h2>You can find me online here:</h2>
            <p><a href="https://github.com/erikmaclennan">Github</a></p>
            <p><a href="https://www.linkedin.com/in/erik-maclennan-5a0a30a8?trk=hp-identity-name">LinkedIn</a></p>
            <p><a href="http://www.thingiverse.com/erikmaclennan/designs">Thingiverse</a></p>

            <h2>Or send me an email <a href="mailto:erikmaclennan@me.com" target="_top">here.</a></h2>
        </center>
    </first>

    <second>
      <a class="twitter-timeline" data-lang="en" data-width="600" data-height="700" data-theme="light" data-link-color="#19CF86" href="https://twitter.com/erikmaclennan">Tweets by erikmaclennan</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </second>
</div>


