---
title: Erik MacLennan
---
<%= partial "partials/homedesc" %>
<section id="main">
<hr>
</section>
<center>
Some of my projects
</center>

<section>
<%= partial "partials/latest-work" %>
</section>
